@import './theme/common';

.pagination {
  width: 100%;
  align-items: center;

  &__link {
    font-size: $sizeSmall;
    color: hsl(0, 0, 30%);
    padding: 12px;
    text-decoration: none;

    &--current {
      color:  #333333;
      border: 1px solid #ffffff;
      padding: 12px;
      border-radius: 6px;
      background: #efefef;
    }
  }

  &__ellipsis {
    color: hsl(0, 0, 45%);
  }
}
